*{
    margin: auto;
    padding: auto;
}

body{
    background-color: lightblue;
    background-size: cover;
}

header{
    background-image: url(images/pp/Sans\ titre.png);
    background-size: cover;
}

footer{
    background-color: black;
    height: 20vh;
    margin-top: auto;
    margin-bottom: auto;
}

.anim{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    font-size: 50px;
    color: white;
}

.nom{
    margin: auto;
    padding: auto;
    position: fixed;
    top: 30px;
    left: 50px;
    height: 50px;
    width: 50px;
    border: none;
    outline: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
}

.nav-toggler{
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    border: none;
    outline: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.line{
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #f1f1f1;
    transition: transform 0.3s ease-out,
    opacity 0.1s ease-out;
}

.l1 {
    transform: translateY(-10px);
}
.l2{
    transform: translateY(10px);
}

.nav-toggler.active .l1{
    transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2{
    opacity: 0;
}

.nav-toggler.active .l3{
    transform: translateY(0px) rotate(-135deg);
}

nav {
    position: fixed;
    width: 100vw;
    min-height: 50vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-bottom: 1px solid rgb(207, 207, 207);
    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(0.73,0.11,0.67,0.84);
}

nav.active{
    transform: translate(0);
}

nav a {
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}

.about{
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
    background: #101010;
}

.pp{
    padding-top: 20px;
    padding-left: 100px;
    float: left;
    width:250px;
    height:250px;
}

.about-me{
    padding-top:60px;
    color: white;
    font-size: 20px;
    max-width: 600px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-title{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 45px;
    text-decoration: underline;
    font-size: 30px;
    font-family: Arial;
}

.cv{
    cursor: pointer;
    background-color: transparent;
    border-radius: 3rem;
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 15px;
    border-color: red;
}

.cv a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding-top: 100px;
    font-family: sans-serif;
}

.savoir-etre{
    color: white;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: Arial;
    padding-top: 10px;
}

.ListSavoirEtre{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
    font-family: sans-serif;
    padding-right: 50px;
}

footer a{
    color: white;
}



@media screen and (max-width: 1199px) {
    .about{
        margin-left: auto;
        margin-right: auto;
        height: auto;
        display: block;
        justify-content: center;
    }
    
    .pp{
        display: flex;
        float: none;
        justify-content: center;
        align-items: center;
        padding-right: auto;
        padding-left: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .about-me{
        display: block;
        justify-content: center;
        width: 100%;
    }

    .cv{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
    }

}