*{
    margin: auto;
}

body{
    background-color: lightblue;
    background-size: cover;
}

header{
    background-image: url(images/Developpeur-web.jpg);
    background-size: cover;
}

footer{
    background-color: #101010;
    height: 10vh;
    margin-top: auto;
    margin-bottom: auto;
}

.anim{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    font-size: 50px;
    color: white;
}

.nom{
    margin: auto;
    padding: auto;
    position: fixed;
    top: 30px;
    left: 50px;
    height: 50px;
    width: 50px;
    border: none;
    outline: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
}

.nav-toggler{
    position: fixed;
    z-index: 99;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    border: none;
    outline: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.line{
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #f1f1f1;
    transition: transform 0.3s ease-out,
    opacity 0.1s ease-out;
}

.l1 {
    transform: translateY(-10px);
}
.l2{
    transform: translateY(10px);
}

.nav-toggler.active .l1{
    transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2{
    opacity: 0;
}

.nav-toggler.active .l3{
    transform: translateY(0px) rotate(-135deg);
}

nav {
    z-index: 99;
    position: fixed;
    width: 100vw;
    min-height: 50vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-bottom: 1px solid rgb(207, 207, 207);
    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(0.73,0.11,0.67,0.84);
}

nav.active{
    transform: translate(0);
}

nav a {
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}

.about{
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
    background: #101010;
}

.pp{
    padding-top: 20px;
    padding-left: 100px;
    float: left;
    width:250px;
    height:250px;
}

.about-me{
    padding-top:60px;
    color: white;
    font-size: 20px;
    max-width: 600px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-title{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 45px;
    text-decoration: underline;
    font-size: 30px;
    font-family: Arial;
}

.cv{
    cursor: pointer;
    background-color: transparent;
    border-radius: 3rem;
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 15px;
    border-color: red;
}

.cv a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding-top: 100px;
    font-family: sans-serif;
}

.savoir-etre{
    color: white;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: Arial;
    padding-top: 10px;
}

.ListSavoirEtre{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
    font-family: sans-serif;
    padding-right: 50px;
}

footer a{
    color: white;
}

.parcours{
    background-size: cover;
    height: auto;
    background: #101010;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.ParcoursTitle{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 45px;
    text-decoration: underline;
    font-size: 30px;
    font-family: Arial;
}


.scolaire{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 50px;
}

.univ{
    display: block;
    background-color: #101010;
    width: 400px;
    height: 200px;
    line-height: 30px;
    border: 3px solid rgba(255, 255, 255, 0.07)
}

.dateUniv{
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding-top: 10px;
}

.uname{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 15px;
}

.logolille{
    background-color: transparent;
    width: 200px;
    float: top;
    display: flex;
    cursor: pointer;
}

.lycee{
    margin-top: 50px;
    display: block;
    background-color: #101010;
    width: 400px;
    height: 300px;
    line-height: 30px;
    border: 3px solid rgba(255, 255, 255, 0.07)
}

.dateLy{
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding-top: 10px;
}

.lyname{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 15px;
}

.logosjbs{
    padding-top: 20px;
    background-color: transparent;
    width: 200px;
    float: top;
    display: flex;
    cursor: pointer;
}

.lydesc{
    color: grey;
    padding-top: 10px;
    display: flex;
    font-size: 15px;
    text-align: center;
}

.college{
    margin-top: 50px;
    display: block;
    background-color: #101010;
    width: 400px;
    height: 350px;
    line-height: 30px;
    border: 3px solid rgba(255, 255, 255, 0.07);
}

.dateCol{
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding-top: 10px;
}

.Collname{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 15px;
}

.logoSteMacre{
    padding-top: 20px;
    background-color: transparent;
    width: 150px;
    float: top;
    display: flex;
    cursor: pointer;
}

.Colldesc{
    color: grey;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: center;
}

.expTitle{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    text-decoration: underline;
    font-size: 30px;
    font-family: Arial;
}

.expPro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 30px;
}

.elect{
    margin-top: 50px;
    display: block;
    background-color: #101010;
    width: 400px;
    height: 250px;
    line-height: 30px;
    border: 3px solid rgba(255, 255, 255, 0.07)
}

.dateElect{
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding-top: 10px;
}

.logosFlamand{
    padding-top: 20px;
    background-color: transparent;
    width: 200px;
    float: top;
    display: flex;
    cursor: pointer;
}

.electName{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 15px;
}

.electDesc{
    color: grey;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: center;
}

.competences{
    background-size: cover;
    height: 100%;
    background: #101010;
    margin-bottom: 50px;
}

.slider {
    height: 80vh;
    position: relative;
}

.progtitle{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    text-decoration: underline;
    font-size: 30px;
    font-family: Arial;
}

.langtitle{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    text-decoration: underline;
    font-size: 30px;
    font-family: Arial;
}

.divtitle{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    text-decoration: underline;
    font-size: 30px;
    font-family: Arial;
}

.slider a {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
}

.slider a.active {
    opacity: 1;
}

.suivant, .precedent {
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.suivant {
    right: 1rem;
}

.precedent {
    left: 1rem;
}

.image{
    display: flex;
}

.image1{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.img2{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.java, .html-css, .js, .c, .psql, .Csharp, .py, .react, .discord, .node, .git{
    width: 120px;
    margin-top: 20px;
}

.psql{
    background-color: white;
}

.langue{
    display: flex;
    flex-direction: column;
}

.eng{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 250px;
}

.liste{
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    display: flex;
    line-height: 50px;
    padding-top: 150px;
}

.listediv1{
    display: flex;
    flex-direction: column;
}

.listediv2{
    display: flex;
    flex-direction: column;
}

.projets{
    background-size: cover;
    background: #101010;
    margin-bottom: 50px;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.projetTitle{
    font-size: 35px;
    text-decoration: underline;
}

.btnProjet{
    display: flex;
    cursor: pointer;
    background-color: transparent;
    border-radius: 3rem;
    margin-top: 20px;
    border-color: red;
}

button > a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.logoprojet{
    display: flex;
    width: 400px;
}

.rigolos, .bifrost, .escapeGame, .tutorat, .botDD, .agrrrrbrawio{
    margin-top: 50px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    border: 3px solid rgba(255, 255, 255, 0.07);
    margin-bottom: 50px;
}

.contact{
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 150px;
    margin-left: 100px;
    margin-right: 100px;
    background: #101010;
}

.contactTitle{
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 30px;
    font-family: Arial;
}

.email, .tel{
    margin-top: 30px;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
}

.contactDesc{
    display: flex;
}

.foot{
    display: flex;
    justify-content: space-between;
}

.github, .linkedin{
    width: 10vh;
}

.logoGit, .logoLink{
    cursor: pointer;
}

@media screen and (max-width: 1199px) {
    .about{
        margin-left: auto;
        margin-right: auto;
        height: auto;
        display: block;
        justify-content: center;
    }
    
    .pp{
        display: flex;
        float: none;
        justify-content: center;
        align-items: center;
        padding-right: auto;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    .about-me{
        display: block;
        justify-content: center;
        width: 100%;
    }

    .cv{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
    }

    .scolaire{
        margin-left: auto;
        margin-right: auto;
        height: auto;
        display: block;
        justify-content: center;
        background-size: cover;
    }

    .univ{
        margin-left: auto;
        margin-right: auto;
        height: auto;
        display: block;
        justify-content: center;
        width: auto;
    }

    .lycee{
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        padding-right: auto;
        height: auto;
        display: block;
        justify-content: center;
        width: auto;
    }

    .college{
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        padding-right: auto;
        height: auto;
        display: block;
        justify-content: center;
        width: auto;
    }

    .competences{
        height: 120%;
    }

    .image1, .img2{
        width: 30%;
    }

    .expTitle{
        text-align: center;
    }

    .progtitle{
        text-align: center;
    }

    .langtitle{
        text-align: center;
    }

    .divtitle{
        text-align: center;
    }

    .suivant, .precedent{
        top: 5%
    }

    .java, .html-css, .js, .c, .psql, .Csharp, .py, .react, .discord, .node, .git{
        width: 100%;
        height: 200%;
    }

    .logoprojet{
        width: 100%;
    }

    .btnProjet{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
    }

    .contact{
        margin-left: auto;
        margin-right: auto;
        height: auto;
        display: block;
        justify-content: center;
    }

    .contactDesc{
        flex-direction: column;
    }

}